
* {
	box-sizing: border-box;
}

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	background-color: whitesmoke;
	overflow-x: hidden;
}

// blocks
article {
	margin-left: auto;
	margin-right: auto;
	max-width: 42em;
	padding: 1em;
}

p {
	max-width: 42em;
}

blockquote {
	margin-left: 0.6em;
	transition: 0.2s ease;
	&:hover {
		transform: translateX(0.6em);
	}
	&::before {
		content: "[";
		margin-right: 0.6em;
	}
	&::after {
		content: "]";
		margin-left: 0.6em;
	}
}

ol,
ul {
	margin-left: 0;
	padding-left: 2em;
}

table,
tbody,
tr,
td {
	display: block;
}

table {
	border-spacing: 0;
	margin: 1em 0;
	max-width: 100%;
	@include breakpoint("md") {
		display: table;
	}
}

thead {
	display: none;

	@include breakpoint("md") {
		display: table-header-group;
	}
}

tbody {
	@include breakpoint("md") {
		display: table-row-group;
	}
}

tr {
	padding: 0.6em 0;
	&:not(:first-child) {
		border-top: 1px solid black;
	}
	@include breakpoint("md") {
		display: table-row;
	}
}

pre {
	background-color: black;
	color: white;
	overflow-x: auto;
	padding: 1em;
}

form {
	margin: 1em 0;
}

fieldset {
	border: 0;
	margin: 0.6em 0;
	padding: 0;
}

figure {
	margin-left: 0;
	margin-right: 0;
}

figcaption {
	text-align: center;
}

// inlines
a {
	color: black;
	cursor: pointer;
}

q {
	padding-left: 0.2em;
	padding-right: 0.2em;
}

code {
	background-color: black;
	color: white;
	display: inline-block;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

label {
	cursor: pointer;
}

input:not([type=checkbox]):not([type=radio]):not([type=range]),
textarea,
select,
button {
	appearance: none;
	box-sizing: border-box;
	border-radius: 4px;
	outline: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-appearance: none;
	-webkit-appearance: none;
}

input:not([type=checkbox]):not([type=radio]):not([type=range]),
select,
button {
	height: 2.6em;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
	border: 2px solid $midgrey;
	min-width: 100%;
	max-width: 100%;
	padding: 0.5em;
}

input[type=checkbox],
input[type=radio] {
	margin-right: 0.2em;
	+ label {
		font-weight: normal;
	}
}

input[type=submit],
input[type=reset],
button {
	cursor: pointer;
}

textarea {
	resize: none;
	min-height: 8em;
}

select {
	background-color: white;
	background-image: linear-gradient(45deg, transparent 50%, $grey 50%),
										linear-gradient(135deg, $grey 50%, transparent 50%);
	background-size: 5px 5px;
	background-position: calc(100% - 15px) 1em, calc(100% - 10px) 1em;
	background-repeat: no-repeat;
	cursor: pointer;
}

select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 black;
}

button {
	background-color: black;
	color: white;
	border: none;
	margin-bottom: 0.8em;
	margin-right: 0.8em;
	min-width: 7em;
	padding: 0.5em 1em;
	position: relative;
	transition: 0.2s;

	&:hover {
		transform: translateY(0.1em);

		&::before {
			box-shadow: 0 0 1em 0 rgba(black, 0.75);
		}
	}

	&:active {
		transform: translateY(0.2em);
	
		&::before {
			box-shadow: 0 0 0.5em 0 rgba(black, 0.5);
		}
	}

	&::before {
		box-shadow: 0 0.1em 1.2em 0 rgba(black, 0.75);
		content: '';
		height: 90%;
		left: 5%;
		position: absolute;
		top: 10%;
		transition: 0.2s;
		width: 90%;
	}
}

th {
	text-align: left;
}

td,
th {
	padding: 0.3em 0.6em;
}

td {
	@include breakpoint("md") {
		border-top: 1px solid black;
		display: table-cell;
	}
}

img {
	max-width: 100%;
	width: 100%;
}

mark {
	background-color: black;
	color: white;
}

// extras
::selection {
	background-color: rgba(0, 0, 0, 0.99);
	color: white;
}
