
.loading {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;

	> div {
		animation: 1.6s linear infinite loading;
		background-color: black;
		border-radius: 0.5em;
		height: 1em;
	}

	.dashboard & > div {
		background-color: white;	
	}
}

.pagination {
	
}
