
.loading {
	align-items: center;
	display: inline-flex;
	height: 100%;
	justify-content: center;
	width: 100%;

	> span {
		animation: 1s linear infinite loading;
		background-color: white;
		border-radius: 0.5em;
		height: 1em;
	}

	.dashboard & > span {
		background-color: white;	
	}
}

.pagination {
	
}
