
.dashboard {
	background-color: lighten($purple, 10%);
	background-image: radial-gradient(circle at top center, $pink 0%, $purple 100%);
	background-attachment: fixed;

	pre,
	code {
		background-color: black;
		color: white;
	}

	input,
	textarea,
	select {
		background-color: rgba(white, 0.5);
		border-color: transparent;
		color: white;
	}

	select {
		background-image: linear-gradient(45deg, transparent 50%, white 50%),
											linear-gradient(135deg, white 50%, transparent 50%);
	}

	tr {
		border-top-color: white;
	}

	td {
		border-top-color: white;
	}

	::placeholder {
		color: rgba(255, 255, 255, 0.75);
		font-style: italic;
	}

	[type=range]::-webkit-slider-thumb {
		box-shadow: inset 0 0 0 3px white;
	}
}

.dash-nav {
	background-color: lighten($purple, 10%);
	background-image: radial-gradient(circle at top center, $pink 0%, $purple 100%);
	background-attachment: fixed;
	bottom: 0;
	box-shadow: 0 -4px 25px 0 rgba($darkgrey, 0.25);
	position: fixed;
	transition: 0.2s;
	width: 100%;
	z-index: 99;

	&.hidden {
		transform: translateY(100%);
	}

	&.pulled-up {
		transform: translateY(-50px);
	}

	> nav {
		align-items: center;
		display: flex;
		height: 50px;
		justify-content: space-between;
	}

	> nav > * {
		border: none;
		padding: 0.5em 1em;
	}

	@include breakpoint('md') {
		bottom: initial;
		box-shadow: 0 4px 25px 0 rgba($darkgrey, 0.25);
		top: 0;

		&.pulled-up {
			transform: none;
		}
	}
}

.dash-menu {
	display: none;
	overflow-x: auto;

	.dash-nav & {
		align-items: center;
		background-color: lighten($purple, 10%);
		bottom: initial;
		display: flex;
		height: 50px;
		padding-left: 0.5em;
		padding-right: 0.5em;
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 1000;
	}

	@include breakpoint('md') {
		align-items: flex-end;
		bottom: 0;
		display: flex;
		flex-direction: column;
		height: auto;
		justify-content: flex-start;
		left: 0;
		margin-top: 50px;
		padding: 1em;
		position: fixed;
		top: 0;
		width: 180px;
		z-index: 2;

		.dash-nav & {
			display: none;
		}
	}

	> .menu-item {
		border: none;
		color: white;
		display: inline-block;
		padding: 0.5em 0.65em;
		vertical-align: middle;

		@include breakpoint('md') {
			// color: $darkgrey;
			display: block;

			&.-active::before {
				margin-right: 0.5em;
				opacity: 1;
			}

			&::before {
				content: '\2192';
				opacity: 0;
				transition: 0.2s;
			}
		}
	}
}

.dash-main {
	min-height: 100vh;
	padding-bottom: 42.95px;
	position: relative;
	transition: 0.2s;
	z-index: 1;

	@include breakpoint('md') {
		margin-left: 180px;
		padding-bottom: 0;
		padding-top: 50px;
	}
}
