
@font-face {
	font-family: 'Rubik';
	src: url('../fonts/rubik-regular.eot');
	src: url('../fonts/rubik-regular.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/rubik-regular.woff2') format('woff2'),
			 url('../fonts/rubik-regular.woff') format('woff'),
			 url('../fonts/rubik-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
