
@font-face {
	font-family: 'HKGrotesk';
	src: url('../fonts/hkgrotesk-regular.eot');
	src: url('../fonts/hkgrotesk-regular.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/hkgrotesk-regular.woff2') format('woff2'),
			 url('../fonts/hkgrotesk-regular.woff') format('woff'),
			 url('../fonts/hkgrotesk-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HKGrotesk';
	src: url('../fonts/hkgrotesk-light.eot');
	src: url('../fonts/hkgrotesk-light.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/hkgrotesk-light.woff2') format('woff2'),
			 url('../fonts/hkgrotesk-light.woff') format('woff'),
			 url('../fonts/hkgrotesk-light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HKGrotesk';
	src: url('../fonts/hkgrotesk-bold.eot');
	src: url('../fonts/hkgrotesk-bold.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/hkgrotesk-bold.woff2') format('woff2'),
			 url('../fonts/hkgrotesk-bold.woff') format('woff'),
			 url('../fonts/hkgrotesk-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Inconsolata';
	src: url('../fonts/inconsolata-regular.eot');
	src: url('../fonts/inconsolata-regular.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/inconsolata-regular.woff2') format('woff2'),
			 url('../fonts/inconsolata-regular.woff') format('woff'),
			 url('../fonts/inconsolata-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Inconsolata';
	src: url('../fonts/inconsolata-bold.eot');
	src: url('../fonts/inconsolata-bold.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/inconsolata-bold.woff2') format('woff2'),
			 url('../fonts/inconsolata-bold.woff') format('woff'),
			 url('../fonts/inconsolata-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lab Mono';
	src: url('../fonts/labmono-regular.eot');
	src: url('../fonts/labmono-regular.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/labmono-regular.woff2') format('woff2'),
			 url('../fonts/labmono-regular.woff') format('woff'),
			 url('../fonts/labmono-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
