
.sh-s { box-shadow: 0 0 15px 0 rgba(black, 0.1); }
.sh-m { box-shadow: 0 0 25px 0 rgba(black, 0.1); }
.sh-l { box-shadow: 0 0 35px 0 rgba(black, 0.1); }
.sh-x { box-shadow: 0 0 15px 0 rgba(black, 0.1); }
