
html {
	font: normal 400 14px/1.5 $mono;

	@include breakpoint('md') {
		font-size: 16px;
	}
}

body {
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h6 {
	font-size: 0.7em;
}

blockquote {
	font-size: 0.95em;
	text-transform: uppercase;
}

pre {
	font-size: 0.95em;
}

figcaption {
	font-style: italic;
}

p {
	line-height: 1.8;
}

code {
	font-size: 0.95em;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select,
button {
	font: {
		family: $mono;
		size: 0.95em;
	}
	line-height: 1;
}

button {
	text-transform: uppercase;
}

th {
	text-transform: capitalize;
}

pre,
code {
	font-family: $mono;
}
