.vh100 { height: 100vh; }
.h100 { height: 100px; }

.hxxl { font-size: 6rem; }
.hxl { font-size: 5rem; }
.hlg { font-size: 4rem; }

.bg-black { background-color: black; }
.bg-white { background-color: white; }

.black { color: black; }
