
$breakpoints: (
	'sm': 40em,
	'md': 52em,
	'lg': 64em
);

$sans: 'HKGrotesk', 'Avenir', 'Circular', sans-serif;
$mono: 'Lab Mono', 'Roboto Mono', 'Meslo', monospaced;

$lightgrey: #eee;
$midgrey: #ccc;
$grey: #999;
