
$breakpoints: (
	'sm': 40em,
	'md': 52em,
	'lg': 64em
);

$serif: 'Playfair Display', 'Times New Roman', serif;
$sans: 'Rubik', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
$mono: 'Inconsolata', 'Roboto Mono', 'Droid Mono', 'Menlo', monospace;

$darkgrey: #333;
$lightgrey: #eee;
$midgrey: #ddd;
$grey: #aaa;
$purple: #3823ac;
$pink: #9427b7;
